extend layout
block page
    div.row
        div.col-lg-12
            h1.page-header
                | #{page_name}
        div.col-lg-4
            div.panel.panel-default
                div.panel-heading
                    | Information
                div.panel-body
                    div.list-group
                        li.list-group-item
                            i.fa.fa-tasks.fa-fw
                            if projects_num == 1
                                | #{projects_num} project
                            else
                                | #{projects_num} projects
                        li.list-group-item
                            i.fa.fa-tasks.fa-fw
                            if devices_num == 1
                                | #{devices_num} device
                            else
                                | #{devices_num} devices
        div.col-lg-4.pull-right
            div.panel.panel-default
                div.panel-heading
                    | Projects
                div.panel-body
                    div.list-group
                        if projects_num != 0
                            each project in projects
                                a.list-group-item(href='/project/#{project}')
                                    i.fa.fa-tasks.fa-fw
                                    | #{project}
                        else
                            a.list-group-item(href='javascript:void(0)')
                                | No projects
                div.panel-heading
                    | Devices
                div.panel-body
                    div.list-group
                        if devices_num != 0
                            each device in devices
                                a.list-group-item(href='javascript:void(0)')
                                    i.fa.fa-tasks.fa-fw
                                    | #{device}
                        else
                            a.list-group-item(href='javascript:void(0)')
                                | No devices
